*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin;
}
body{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border: 10px solid #e3c023; /* Grosor | Estilo | Color */
    
}

.contenedor{
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.titulo{
    color: rgb(197, 21, 21);
    font-size: 70px;
    text-align: center;
    margin-bottom: 60px;
}

header{ 
    width: 100%;
    height: 600px;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(296, 61%, 19%, 0.678), hsla(0, 54%, 54%, 0.682)), url(Imagenes/changoport.jpg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Gradiente obtenido de https://uigradients.com/#Bighead */
    background-size: cover;
    background-attachment: scroll;
    position: relative;
}

.nav{
    
    padding: 30px 50px 0 0;
    text-align: right;
}
nav > a > img{
    width: 80px; height: 80px;
}

nav > img{
    width: 80px; height: 80px;
}

nav > a:hover{
    border: 5px solid #ff2a00;
    cursor: pointer;
    
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wave2{
    position: absolute;
    
    width: 100%;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textos-header h1{
    font-size: 100px;
    
    color: azure;
}

.textos-header h2{
    font-size: 50px;
    color: azure;
}


.Productos{
    background-color: #1a9dcc;
;

}

.galeria-prod{
    display: flex;
    justify-content: space-evenly;
   flex-wrap: wrap;
}

.imagen-prod{
    width: 29%;
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.imagen-prod > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 92%, 37%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 150px;

}
.hover-galeria p{
    color: #fff;
}

.imagen-prod:hover .hover-galeria{
    transform: scale(1);
}

.destacados{
    background: #fffde7;
}

